:root {
    --Blue: hsl(246, 80%, 60%);
    --LightRedWork: hsl(15, 100%, 70%);
    --SoftBluePlay: hsl(195, 74%, 62%);
    --LightRedStudy: hsl(348, 100%, 68%);
    --LimeGreenExercise: hsl(145, 58%, 55%);
    --VioletSocial: hsl(264, 64%, 52%);
    --SoftOrangeSelf: hsl(43, 84%, 65%);
    --VeryDarkBlue: hsl(226, 43%, 10%);
    --DarkBlue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* layout */
*, *::after, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--VeryDarkBlue);
}

.wrapper{
    height: 100dvh;
   
    display: grid;
    place-items: center;
}




.panel{
    background-color: var(--VeryDarkBlue);
    display: flex;
    width: 90%;
    min-width: 800px;
    height: 100%;
    max-height: 75%;
    max-width: 1200px;
    padding: 2em;
    gap: 3rem;
}

/*user panel*/
.user-panel{
    background-color: var(--DarkBlue);
    border-radius:15px;
    width: 100%;
    max-width: 300px;
    height: 100%;
  

  
}

.user-info{
    background-color: antiquewhite;
    width: 100%;
    height: 60%;
    padding: 2rem;
    background-color: var(--Blue);
    border-radius: 15px;

}

.user-info img{
    width: 80px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 2.3rem
}

.user-info h1{
    color: white;
    font-weight: 200;
}

.user-info p{
    color: var(--PaleBlue);
    font-size: 0.8rem;
}

.type-selection{
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1.5rem;
    color: var(--PaleBlue);
}
.type-selection button{
color: var(--DesaturatedBlue);
padding: 0;
border: none;
background: none;
width: 20px;
}

.type-selection button:hover, .type-selection button:focus{
    color: white;
    cursor: pointer;
}



/*activity panels*/

.icons{
    width: 60px;
    height: 60px;
    position: absolute;
    transform: translate(90px, -1px);
    overflow: hidden;
    
}
.activity-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-width: 500px;
    height: 100%;
    
    



}

.activity-top{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    height: 45%;
   
}

.activity-bottom{
    display: flex;
    justify-content: space-around;
    height: 45%;

}

.panels{
height: 100%;
width: 30%;
min-width: 200px;
display: flex;
border-radius: 15px;
overflow: hidden;
flex-wrap: wrap;



}

.work-panel{
    background-color: var(--LightRedWork);
}

.play-panel{
    background-color: var(--SoftBluePlay);

}

.study-panel{
    background-color: var(--LightRedStudy);
}

.exercise-panel{
    background-color: var(--LimeGreenExercise);

}

.social-panel{
    background-color: var(--VioletSocial);
}

.self-care-panel{
    background-color: var(--SoftOrangeSelf);
}

.info-panels{
background-color: var(--DarkBlue);
width: 100%;
padding: 1.2em;
align-self: flex-end;
height: 80%;
color: white;
display: flex;
flex-direction: column;
justify-content: space-around;
position: relative;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
overflow: hidden;


}

.info-panels:focus, .info-panels:hover{
    background-color: var(--Blue);
    cursor: pointer;

}

.info-panels h2{
    font-weight: lighter;
    font-size: 2rem;
}

.top-info-panels{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.top-info-panels img{
    height: 5px;
    width: 20px;
}
.top-info-panels img:hover, .top-info-panels img:focus{
    cursor: pointer;
}

.last-week{
    color: var(--PaleBlue);
}


@media(max-width :600px) {

   *{
    font-size: 1.2rem;
    margin: 0;
   }

    .panel{
        flex-direction: column;
     justify-content: center;
     
        
        
    }
    .user-panel{
      max-width: 400px;
        height: 20%;
    }

    .user-info{
      display: flex;
      gap: 1.5em;
      justify-content: center;
      align-items: center;
    }
    .user-info img{
        margin-top: 2em;
        width: 100px;
    }

    .type-selection{
        
        text-align: center;
        justify-content: center;
       font-size: 13px;
        
        
        
        
    }

    .type-selection button{
        width: 30%;
        
    }


    .panels{
        margin-top: 1em;
        width: 70%;
        height: 30vh;
        
      
    }

   
    .activity-top{
        flex-direction: column;
       
    }
    .activity-bottom{
        flex-direction: column;
        margin-bottom: 15em;
    }

    .type-selection{
        flex-direction: row;
    }
    
}