:root {
    --Blue: hsl(246, 80%, 60%);
    --LightRedWork: hsl(15, 100%, 70%);
    --SoftBluePlay: hsl(195, 74%, 62%);
    --LightRedStudy: hsl(348, 100%, 68%);
    --LimeGreenExercise: hsl(145, 58%, 55%);
    --VioletSocial: hsl(264, 64%, 52%);
    --SoftOrangeSelf: hsl(43, 84%, 65%);
    --VeryDarkBlue: hsl(226, 43%, 10%);
    --DarkBlue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*, *::after, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--VeryDarkBlue);
}

.wrapper{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel{
    background-color: var(--VeryDarkBlue);
    display: flex;
    width:80%;
    max-width: 1200px;
   padding: 2em;
    gap: 3rem;
}

.user-panel{
    background-color: var(--DarkBlue);
    border-radius:15px;
    width: 100%;
    max-width: 280px;
  
}

.user-info{
    background-color: antiquewhite;
    width: 100%;
    height: 65%;
    padding: 2rem;
    background-color: var(--Blue);
    border-radius: 15px;

}

.user-info img{
    width: 80px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 2.3rem
}

.user-info h1{
    color: white;
    font-weight: 200;
}

.user-info p{
    color: var(--PaleBlue);
    font-size: 0.8rem;
}

.type-selection{
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1.5rem;
    color: var(--PaleBlue);
}
.type-selection button{
color: var(--DesaturatedBlue);
padding: 0;
border: none;
background: none;
width: 20px;
}

.type-selection button:hover, .type-selection button:focus{
    color: white;
    cursor: pointer;
}


.activity-panel{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;



    
    
}

.activity-top{
    display: flex;
    height: 50%;
    width: 100%;
}

.activity-bottom{
    display: flex;
    height: 50%;
    width: 100%;
 
}

.panels{
    
}

.work-panel{
    background-color: var(--LightRedWork);
}

.play-panel{
    background-color: var(--SoftBluePlay);

}

.study-panel{
    background-color: var(--LightRedStudy);
}

.exercise-panel{
    background-color: var(--LimeGreenExercise);

}

.social-panel{
    background-color: var(--VioletSocial);
}

.self-care-panel{
    background-color: var(--SoftOrangeSelf);
}

